head, body {
    margin: 0px !important;
}

body {
    padding-top: 0px;
    margin-top: 0px;
    border-top: 0px;
    background-color: #100030;
}

#top {
    margin-top: 100px;
}

.banner {
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
    background-color: #271f59;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.tile_img {
    width: 100px;
}

code {
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    border-color: #444e5c;
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    color: #ffffff;
    background-color: #444e5c;
}

.text_block {
    background-color: #1d1742;
    width: 80%;
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    border-color: #1d1742;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #271f59;
    width: 100%;
    height: 50px;
}

.header_button {
    background-color: #271f59;
    border-width: 0;
    color: #ffffff;
    font-size: 50px;
    height: 80px;
    margin-left: 50px;
}

.header_button:hover {
    background-color: #100030;
}

address {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 100px;
}
