head, body {
    margin: 0px; !important
    background-color: #06002e;
}

.banner {
    background-color: #271f59;
    height: 50px;
    width: 100%;
    position: fixed;
    overflow: auto;
}

.footer {
    background-color: #271f59;
    width: 100%;
    height: 50px;
}

address {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 100px;
}
